<div class="" style="height: 100%;">
  <h1 class="about center"> MILESTONES </h1>

  </br>
  <div class="milestones" style="position: relative;">
    <div class="bar" style="position: absolute; height: 100%; width: 50%; border-right: 3px solid black;">
    </div>

    <div style="padding-top: 50px;">
    </div>

    <%= render "milestone/milestone", date: "March 2017", details: "Founded", reverse: "" %>
    <%= render "milestone/milestone", date: "May 2017", details: "First SFU Clubs Days", reverse: "reverse" %>

    <%= render "milestone/milestone", date: "August 2017", details: "Received first sponsorship (Solidworks)", reverse: "" %>
    <%= render "milestone/milestone", date: "October 2017", details: "Acquired first advisor (Sepehr MohaimenianPour)", reverse: "reverse" %>

    <%= render "milestone/milestone", date: "November 2017", details: "Set up GitLab", reverse: "" %>

  <hr style="">

  <%= render "milestone/milestone", date: "January 2018", details: "Set up website", reverse: "reverse" %>
  <%= render "milestone/milestone", date: "February 2018", details: "Received second sponsorship (Altium)", reverse: "" %>

  <%= render "milestone/milestone", date: "March 2018", details: "Build a functional SSL robot", reverse: "reverse" %>
  <%= render "milestone/milestone", date: "April 2018", details: "Build a robot control framework", reverse: "" %>

  <%= render "milestone/milestone", date: "December 2018 ", details: "Acquired permanent workspace on campus", reverse: "reverse" %>
  <%= render "milestone/milestone", date: "August 2019", details: "Build a team of SSL robots", reverse: "" %>

  <%= render "milestone/milestone", date: "February 2020 ", details: "Compete against UBC thunderbots", reverse: "reverse" %>
  <%= render "milestone/milestone", date: "July 2020", details: "Compete in the international SSL championship", reverse: "" %>

  <div style="padding-bottom: 50px;">
  </div>
</div>
